{% extends "website/base.html" %} 
{% load crispy_forms_tags %} 
{% block content %} 
    <div class="content-section"> 
        <form method="POST"> 
            {% csrf_token %} 
            <!-- fieldset maakt samenhangende border om content --> 
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Wachtwoord Wijzigen</legend> 
                <!-- import de form van uit de users/views.py --> 
                {{ form|crispy }} 
            </fieldset> 
            <div class="form-group"> 
                <button class="btn btn-outline-secondary" type="submit">Vraag nieuw wachtwoord aan</button> 
            </div> 
        </form> 
    </div> 
{% endblock content %}