.topblock {
    background-color: rgb(65, 12, 134);
    width: 100%;
    margin-top: -30px;
    height: 200px;
}

/* Dit is de titel voor boven in de pagina */
.maintitle {
    color: white;
    margin-left: 20%;
    padding-top: 30px;
}

.contentverschillend {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../../static/website/images/logo1.png) no-repeat center;
}