.topblock {
    background-color: rgb(65, 12, 134);
    width: 100%;
    margin-top: -30px;
    height: 310px;
}

/* Dit is de titel voor boven in de pagina */
.maintitle {
    color: white;
    margin-left: 20%;
    padding-top: 30px;
}

.contentverschillend {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../../static/website/images/supermarkt.jpg) no-repeat center;
}

.containerhome {
    margin-top: -60px;
    padding-left: 10px;
    text-align: center;
}

.testen {
    margin-top: -7em;
}

.mooier {
    margin-top: 30px;
    text-align: center;
    border: none;
}

.blauweknoplinks {
    background-color: rgb(57, 92, 207);
    border: none;
    color: white;
    background: url(../../static/website/images/helping.jpg) no-repeat center;
    font-size: 20px;
    width: 100%;
}

.blauweknoplinks:hover {
    background: url(../../static/website/images/supermarkt.jpg) no-repeat center;
    font-size: 30px;
    border: none;
    width: 100%;
} 

.blauweknoprechts {
    background-color: rgb(57, 92, 207);
    color: white;
    background: url(../../static/website/images/needhelp.jpg) no-repeat center;
    border: none;
    width: 100%;
}

.blauweknoprechts:hover {
    background: url(../../static/website/images/supermarkt.jpg) no-repeat center;
    border: none;
    width: 100%;
} 

.contenthome p {
    text-align: center;
    font-family: Bahnschrift;
    font-size: 20px;
    margin-top: 20px;
}

.contenthome h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
}

.ruimte {
    margin-top: 20px;
}

.overonsknop {
    background-color: rgb(0, 68, 255);
    margin-top: 30px;
    color: white;
    border: thin;
    border-radius: 25px;
    width: 100px;
    height: 40px;
}
/* zodra je hovert over de instructies tab, 'licht' de 'hoe werkt het?' stukje op */

.testen {
    margin-top: -7em;
}

/* content in wrapper */

.content-section {
    border: 2px solid black;

}

.content-section h3{
    font-family: Fugaz One;

}

.content-section h4{
    margin-top: -5px;
    font-family: Fugaz One;

}

.content-section p{
    font-family: Coco Gothic;
    margin-top: -5px;
}

.infotekst {
    font-family: Rondalo;
    font-size: 25px;

}

.titeltwee {
    margin-top: -5px;
    color: rgb(80, 106, 252);
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
  }

