.topblock {
    background-color: rgb(6, 71, 46);
    width: 100%;
    margin-top: -30px;
    height: 310px;
}

.post-content {
    margin-top: 2.5em;
}
  .testen {
    margin-top: -7em;
  }

.postscontent h1{
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    text-align: center;


}


.contentverschillend {
    margin-top: -50;
    display: block;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: url(../../static/website/images/posts.jpeg) no-repeat center;
}
.titelcontent h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 25px;
}

/* -------------------------- HOKJE --------------------- */

.testen {
    margin-top: -7em;
}

.testen p {
    font-family: 'Roboto', sans-serif;
}

.testen a{
    color: rgba(4, 117, 216, 1);
}

/* content in wrapper */


.content-section h3{
    font-size: 40px;
    font-family: 'Lobster Two', cursive;

}

.content-section h4{
    margin-top: -5px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

.infotekst {
    font-family: Rondalo;
    font-size: 25px;

}

.titeltwee {
    margin-top: -5px;
    color: rgb(80, 106, 252);
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
  }

nav {
    background-color: rgba(4, 96, 216, 1);
}

/* ------------------------------ HOKJE EIND------------------------- */