.topblock {
    background-color:rgb(41, 49, 51);
    width: 100%;
    height: 342px;
    margin-top: 65px;
}

.post-content {
    margin-top: 2.5em;
}
  .testen {
    margin-top: -7em;
  }

.postscontent h1{
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    text-align: center;


}


.contentverschillend {
    margin-top: -50;
    display: block;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: url(../../static/website/images/bannerhome8.png) no-repeat center;
}
.titelcontent h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 25px;
}


/* ------------------ plaats advertentie knop in de nav bar ------------ */

.plaatsen {
    color: rgb(242, 78, 19);
    margin-top: 9px;
    margin-right: 5px;
  } 
  
  
  .plaatsen:hover {
    color: rgb(252, 252, 252);
    margin-top: 9px;
    margin-right: 5px;
    text-decoration: none;
  }