{% extends "website/base.html" %} {% load static %} {% block content %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'website/website_about.css' %}">
  </head>
  <body>
  <div class="titelcontent"><h1>Ons Team</h1></div>
    <div class="content">
      <p>
        Wij zijn drie studenten van de minor Scripting 4 Designers op de
        Hogeschool van Arnhem & Nijmegen. Voor ons eindproject hebben wij een
        maatschappelijk probleem proberen op te lossen door het ontwerpen van
        een interactieve webapplicatie. Deze applicatie is geschreven met Python
        en gerealiseerd door het framework Django.
      </p>
      <div class="row">
        <div class="column">
          <div class="card">
            <img
              src="/static/website/images/about_ruben_profile.jpg"
              alt="Ruben"
              style="width: 100%;"
            />
            <div class="container">
              <h2>Ruben van de Wiel</h2>
              <p class="title">Co-Founder & Webdeveloper</p>
              <p>Content Designer, Webdeveloper en Pro RuneScaper.</p>
              <p>
                <form action="mailto:djangos4d@gmail.com">
                  <button class="button">Contact</button>
                </form>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img
              src="/static/website/images/about_jente_profile.jpg"
              alt="Jente"
              style="width: 100%;"
            />
            <div class="container">
              <h2>Jente Otte</h2>
              <div class="mt-5"></div>
              <p class="title">Co-Founder & Webdeveloper</p>
              <p>Levensgenieter, Rokjesjager en 36 wins in Warzone.</p>
              <p>
                <form action="mailto:djangos4d@gmail.com">
                  <button class="button">Contact</button>
                </form>
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img
              src="/static/website/images/about_ramon_profile.jpg"
              alt="Ramon"
              style="width: 100%;"
            />
            <div class="container">
              <h2>Ramon van der Stoop</h2>
              <p class="title">Co-Founder & Webdeveloper</p>
              <p>Bourgondisch genieter, RuneScape-noob en 2.5 K/D in MW.</p>
              <p>
                <form action="mailto:djangos4d@gmail.com">
                  <button class="button">Contact</button>
                </form>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endblock content %}
</html>
