{% extends "website/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/home.css' %}">

    <!-- Page Content -->
    <div class="titelcontent"><h1>Welkom bij Weder.nl</h1></div>
    <div class="containerhome">
        <div class="card border-0 shadow my-5"></div>
            <div class="contenthome">
                <p>Hulp vragen is nog niet zo makkelijk, dus wat kunnen wij voor je doen? Mensen vertonen reciprociteit naar elkaar,
                    een verschijnsel waarin de ene persoon bereid is de ander te helpen wanneer hier wat voor tegenover staat. 
                    Dit werkt ook de andere kant op. Men is sneller geneigd om hulp te vragen als ze er wat voor terug te geven hebben.
                </p>
            </div>
            <div class="ruimte">
            <!-- leeg -->
            </div>
            <!-- achtergrond kleur knoppen -->
            <div class="mooier">
                <a href="{% url 'web-posts' %}">
                <button type="button" class="blauweknoplinks" style="width: 200px; height: 200px;">Ik wil helpen!</button>
                </a>
                <img src="../../static/website/images/Pijlen.png" width="100">
                <a>
                <button type="button" class="blauweknoprechts" style="width: 200px; height: 200px;">Ik heb een klusje!</button>
                </a>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock content %}