{% extends "website/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/home.css' %}">

    <!-- Page Content -->
    <div class="containerhome">
        <div class="card border-0 shadow my-5"></div>
            <div class="contenthome">
                <h1>Welkom bij Weder.nl</h1>
                <p class="lead">Hulp vragen is nog niet zo makkelijk, dus wat kunnen wij voor je doen? Mensen vertonen reciprociteit naar elkaar, 
                    een verschijnsel waarin de ene persoon bereid is de ander te helpen wanneer hier wat voor tegenover staat. 
                    Dit werkt ook de andere kant op. Men is sneller geneigd om hulp te vragen als ze er wat voor terug te geven hebben.
                </p>
                <p class="lead mb-0">Druk op de knop om meer over ons te weten!</p>
                <a href="{% url 'web-about' %}">
                    <button type="button" class="overonsknop">Over ons</button>
                </a>
            </div>
            <div class="ruimte">
            <!-- leeg -->
            </div>
            <!-- achtergrond kleur knoppen -->
            <div class="mooier">
                <a href="{% url 'web-posts' %}">
                <button type="button" class="blauweknoplinks" style="width: 200px; height: 200px;">Hulp nodig</button>
                </a>
                <img src="../../static/website/images/Pijlen.png" width="100">
                <a>
                <button type="button" class="blauweknoprechts" style="width: 200px; height: 200px;">Helpen</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}