{% extends "website/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/website_home.css' %}">

    <!-- Page Content -->
    <div class="titelcontent"><h1>Welkom bij Weder.nl</h1></div>
    <div class="containerhome">
        <div class="card border-0 shadow my-5"></div>
            <div class="contenthome">
                <p>Help elkaar op afstand met Weder! Heb je boodschappen nodig<br> maar kan je - vanwege 
                    de COVID-19 pandemie - tijdelijk de deur niet uit, of moet de hond <br> worden uitgelaten maar kan jij dit tijdelijk niet? Plaats een advertentie en vraag het! <br>
                    Zelfs bij huishoudelijke klusjes ben je bij Weder aan het juiste adres. Bij Weder <br> 
                    help je elkaar in deze rare tijd en krijg je hier ook altijd iets voor terug;<br>
                    Want voor wat, hoort wat!
                </p>
            </div>
            <div class="ruimte">
            <!-- leeg -->
            </div>
            <!-- achtergrond kleur knoppen -->
            <div class="mooier">
                <a href="{% url 'web-posts' %}">
                <button type="button" class="blauweknoplinks" style="width: 200px; height: 200px;">Ik wil helpen!</button>
                </a>
                <img src="../../static/website/images/Pijlen2.png" width="100">
                <a>
                <button type="button" class="blauweknoprechts" style="width: 200px; height: 200px;">Ik heb een klusje!</button>
                </a>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock content %}