{% extends "website/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/instructions.css' %}"
/>
<div class="titelcontent"><h1>Hoe gaat het te werk?</h1></div>

  <!--<div class="howtocontent">
    <h1>
      Hoe gaat het te werk?
    </h1>
  </div>-->
<div class="howtocontent">
  <div class="inleiding">
    <p>
      Hulp vragen is nog niet zo makkelijk, dus wat kunnen wij voor je doen?
      Mensen vertonen reciprociteit naar elkaar, een verschijnsel waarin de ene
      persoon bereid is de ander te helpen wanneer hier wat voor tegenover
      staat. Dit werkt ook de andere kant op. Men is sneller geneigd om hulp te
      vragen als ze er wat voor terug te geven hebben.
    </p>
  </div>
  <div>
    <h4>
      Stap 1 - Registeren
    </h4>
    <p>
      Als je nog geen account hebt, kun je rechtsboven registreren door op de
      <a href="/register/">Registreer</a> knop de klikken. Kies vervolgens een
      gebruikersnaam en vul uw gegevens verder in. Anderen kunnen je mailen via
      jouw geplaatste advertenties.
    </p>
    <h4>
      Stap 2 - Log In
    </h4>
    <p>
      Na het aanmaken van je account kun je <a href="/login/">inloggen</a> en
      meteen aan de slag. Ook kun je rechtsbovenin via de login-knop inloggen op
      een later moment. Hier kun je ook je wachtwoord opnieuw instellen mocht je
      het willen aanpassen of vergeten zijn.
    </p>
    <h4>
      Stap 3 - Plaats een advertentie of Help een ander
    </h4>
    <p>
      &bull; Als je hulp komt aanbieden, Druk op ‘Helpen’ of ga naar de
      <a href="/posts/">advertentie</a> Pagina.<br /><br />
      &bull; Als je hulp nodig hebt, druk op ‘Hulp Nodig’ of ga naar de
      <a href="/posts/post/new/">plaats advertentie</a> pagina. je moet
      natuurlijk wel ingelogd zijn om een advertentie te kunnen plaatsen.<br /><br />
      &bull; Vervolgens vul je de beloning in, want Voor Wat Hoort Wat
      natuurlijk. <br /><br />
      &bull; Als laatste druk je op ‘Plaats!’ om de advertentie te plaatsen. Je
      kunt de advertentie aanpassen door er in de ‘advertentie’ pagina op de
      titel van de Advertentie te klikken. Hier heb je de optie om de
      advertentie bij te werken of te verwijderen als u hem weg wilt hebben.
    </p>
    <h4>
      Stap 4 - Reageer op een Advertentie
    </h4>
    <p>
      Zie je een advertentie waarbij je graag met de adverteerder in contact
      wilt komen, druk dan op de advertentie-titel en klik op ‘reageer!’.
      De adverteerder wordt dan via zijn of haar opgegeven e-mail
      benaderd.
    </p>
    <h4>
      Stap 5 - Klaar de klus en ontvang je beloning!
    </h4>
    <p>
      Spreek samen met de adverteerder de details af: hoe, wanneer, waar, of je
      tevreden bent met de opgegeven beloning, Succes!
    </p>
  </div>
</div>
{% endblock content %}
