{% extends "website/base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/website_howto.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'website/website_contentarea.css' %}">
<div class="titelcontent"><h1>Hoe werkt Weder?</h1></div>

  <!--<div class="howtocontent">
    <h1>
      Hoe gaat het te werk?
    </h1>
  </div>-->
<div class="howtocontent">
  <div class="inleiding">
    <p>
      Hulp vragen aan anderen is nog niet zo gemakkelijk. Wat kunnen wij voor jou doen?<br>
      Mensen vertonen reciprociteit naar elkaar. Dit is een verschijnsel waarin de ene
      persoon bereid is de ander te helpen wanneer hier wat voor tegenover
      staat. Dit werkt ook de andere kant op; <br> Men is sneller geneigd om hulp te
      vragen als ze er wat voor terug te geven hebben.
    </p>
  </div>
  <br>
  <div>
    <h4>
      Stap 1 - Registreer jouw Weder account
    </h4>
    <p>
      Heb je nog geen account? <a href="/register/">Registreer</a> je dan eenvoudig. 
      Kies vervolgens jouw unieke gebruikersnaam en je e-mail adres zodat je met andere adverteerders in contact kan komen.
    </p>
    <br>
    <h4>
      Stap 2 - Log In
    </h4>
    <p>
      Na het registreren kun je <a href="/login/">inloggen</a> en
      meteen aan de slag. Je hebt nu de mogelijkheid om jouw eigen advertenties te plaatsen en je profielinstellingen te wijzigen.
    </p>
    <br>
    <h4>
      Stap 3 - Plaats een advertentie of help een ander
    </h4>
    <p>
      &bull; Wil je anderen helpen? Neem dan een kijkje op de
      <a href="/posts/">advertentie</a> pagina.<br />
      &bull; Heb je hulp nodig? <a href="/posts/post/new/">Plaats jouw advertentie</a> zodat deze zichtbaar wordt op de advertentiepagina.
      <br><br>
      &bull; Als je de advertentie geplaatst hebt is deze zichtbaar voor iedereen die de website bezoekt.
      Ook kan iedereen contact met je opnemen per mail. Je kunt de advertentie op elk moment eenvoudig aanpassen of verwijderen.
    </p>
    <br>
    <h4>
      Stap 4 - Reageer, help en ontvang je beloning!
    </h4>
    <p>
      Zie je een advertentie waarbij je graag met de adverteerder in contact
      wilt komen, neem dan contact met hem of haar op! Spreek samen de details af: Waar? Wanneer? Hoe? Ga bij elkaar - op gepaste afstand - langs, voer het klusje uit, en ontvang je beloning!
    </p>

  </div>
</div>
{% endblock content %}
