{% extends "website/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/instructions.css' %}"
/>
<link rel="stylesheet" type="text/css" href="{% static 'website/jenteshokje.css' %}">
<div class="titelcontent"><h1>Hoe werkt Weder?</h1></div>

  <!--<div class="howtocontent">
    <h1>
      Hoe gaat het te werk?
    </h1>
  </div>-->
<div class="howtocontent">
  <div class="inleiding">
    <p>
      Hulp vragen aan anderen is nog niet zo gemakkelijk. Wat kunnen wij voor jou doen?<br>
      Mensen vertonen reciprociteit naar elkaar. Dit is een verschijnsel waarin de ene
      persoon bereid is de ander te helpen wanneer hier wat voor tegenover
      staat. Dit werkt ook de andere kant op; <br> Men is sneller geneigd om hulp te
      vragen als ze er wat voor terug te geven hebben.
    </p>
  </div>
  <br>
  <div>
    <h4>
      Stap 1 - Registreer jouw Weder account
    </h4>
    <p>
      Heb je nog geen account? <a href="/register/">Registreer</a> je dan eenvoudig. 
      Kies vervolgens jouw unieke gebruikersnaam en je e-mail adres zodat je met andere adverteerders in contact kan komen.
    </p>
    <br>
    <h4>
      Stap 2 - Log In
    </h4>
    <p>
      Na het registreren kun je <a href="/login/">inloggen</a> en
      meteen aan de slag. Je hebt nu de mogelijkheid om jouw eigen advertenties te plaatsen en je profiel instellingen te wijzigen.
    </p>
    <h4>
      Stap 3 - Plaats een advertentie of Help een ander
    </h4>
    <p>
      &bull; Als je hulp komt aanbieden, Druk op ‘Helpen’ of ga naar de
      <a href="/posts/">advertentie</a> Pagina.<br /><br />
      &bull; Als je hulp nodig hebt, druk op ‘Hulp Nodig’ of ga naar de
      <a href="/posts/post/new/">plaats advertentie</a> pagina. je moet
      natuurlijk wel ingelogd zijn om een advertentie te kunnen plaatsen.<br /><br />
      &bull; Vervolgens vul je de beloning in, want Voor Wat Hoort Wat
      natuurlijk. <br /><br />
      &bull; Als laatste druk je op ‘Plaats!’ om de advertentie te plaatsen. Je
      kunt de advertentie aanpassen door er in de ‘advertentie’ pagina op de
      titel van de Advertentie te klikken. Hier heb je de optie om de
      advertentie bij te werken of te verwijderen als u hem weg wilt hebben.
    </p>
    <h4>
      Stap 4 - Reageer op een Advertentie
    </h4>
    <p>
      Zie je een advertentie waarbij je graag met de adverteerder in contact
      wilt komen, druk dan op de advertentie-titel en klik op ‘reageer!’.
      De adverteerder wordt dan via zijn of haar opgegeven e-mail
      benaderd.
    </p>
    <h4>
      Stap 5 - Klaar de klus en ontvang je beloning!
    </h4>
    <p>
      Spreek samen met de adverteerder de details af: hoe, wanneer, waar, of je
      tevreden bent met de opgegeven beloning, Succes!
    </p>
  </div>
</div>
{% endblock content %}
