{% extends "website/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'website/posts.css' %}"
>

<div></div>
<main role="main" class="post-content">
  <form method="GET" action=".">
    <div class="form-row">
      <div class="form-group col-12">
        <div class="input-group">
          <input
            class="form-control py-2 border-right-0 border"
            type="search"
            name="title_or_description"
            placeholder="Titel of beschrijving..."
          />
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="fa fa-search"></i>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="publishDateMin">Minimum Datum</label>
        <input
          type="date"
          class="form-control"
          id="publishDateMin"
          name="date_min"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="publishDateMax">Maximum Datum</label>
        <input
          type="date"
          class="form-control"
          id="publishDateMax"
          name="date_max"
        />
      </div>
      <div class="form-group col-md-4 col-lg-4">
        <label for="category">Soort Advertentie</label>
        <select id="category" class="form-control" name="category">
          <option selected>Maak keuze...</option>
          <option>Klusjes</option>
          <option>Uitlaatservice</option>
          <option>Boodschappen</option>
          <option>Overig</option>
        </select>
      </div>
    </div>
    <div class="form-group"></div>
    <button type="submit" class="btn btn-primary">Zoek Advertenties</button>
  </form>
  <div class="mt-4"></div>

  {% for post in queryset %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"l F d, Y" }}</small>
          <!-- Datum/tijd opmaak -->
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.titel }}</a></h2>
        <h4 class="article-title">Categorie: {{ post.category }}</h4>
        <p class="article-content">{{ post.beschrijving }}</p>
        <!-- REWARD OPMAAK -->
        <p class="article-reward"><b>Beloning:</b>{{ post.beloning }}</p>
      </div>
    </article>
  {% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if queryset.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ queryset.previous_page_number }}">previous</a>
      {% endif %}
      {% for num in queryset.paginator.page_range %}
          {% if queryset.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > queryset.number|add:'-3' and num < queryset.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
      {% endfor %}
      {% if queryset.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ queryset.next_page_number }}">next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
</main>
{% endblock content %}