{% extends "website/base.html" %} {% load crispy_forms_tags %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/users.css' %}"> 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/hidingelements.css' %}"> 
<br>
<br>
<br>
<br>
<br>
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <!-- Fieldset maakt samenhangende border om content. -->
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Advertentie</legend>
      <!-- Import de form van uit de users/views.py. -->
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Plaats!</button>
    </div>
  </form>
</div>
{% endblock content %}
