{% extends "website/base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/users.css' %}">
<h1 class="mb-3">
  Advertenties van {{ view.kwargs.username }} ({{ page_obj.paginator.count }})
</h1>
{% for post in adposts %}
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{post.author.profile.image.url }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}"
        >{{ post.author }}</a
      >
      <small class="text-muted">{{ post.date_posted|date:"l F d, Y" }}</small>
    </div>
    <h2>
      <a class="article-title" href="{% url 'post-detail' post.id %}"
        >{{ post.titel }}</a
      >
    </h2>
    <h4 class="article-title">Categorie: {{ post.categorie }}</h4>
    <p class="article-content">{{ post.beschrijving }}</p>
    <p class="article-reward"><b>Beloning:</b>{{ post.beloning }}</p>
  </div>
</article>
{% endfor %}
<!-- Onderstaande 'pagination' functie zorgt ervoor dat niet alle posts op 1 pagina verschijnen, 
  maar per 'x' aantal. Ingesteld in de Views. -->
  {% if is_paginated %}
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">Begin</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Vorige</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Volgende</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
{% endif %}
{% endblock content %}